html { width: 100%; height: 100%; }
body {
    width: 94%;
    height: 100%;
    margin: 0% 3%;
    position: relative;
}
body.waiting .game { display: none; }
body.waiting .no-player { display: none; }
body.waiting.no-player .no-player { display: block; }
body.waiting.no-player .players { display: none; }
body.playing .waiting { display: none; }
body.playing .game { display: block; }

div.waiting {
    text-align: center;
}

.player.blue, .name.blue { color: #3c96b8; }
.player.pink, .name.pink { color: #ae3cb8; }
.player.yellow, .name.yellow { color: #b8ab3c; }
.player.green, .name.green { color: #3cb878; }
div.waiting .player:before {
    content: "> ";
    color: red;
}
div.waiting .player:after {
    content: " (not ready)";
    color: red;
}

div.waiting .player.ready:before {
    content: "> ";
    color: green;
}
div.waiting .player.ready:after {
    content: " (ready)";
    color: green;
}

.current_player { position: absolute; top: 10px; left: 10px; }
div.game .player { display: inline-block; }

.game {
    padding-top: 38px;
    height: calc(100% - 38px);
    width: 100%;
}

.trades {
    position: absolute;
    padding: 8px;
    font-size: 0.92em;
    line-height: 1.25em;
}

.tile .trade { position: absolute; font-size: 10px; }
.tile .trade:before { margin-right: -12px; margin-bottom: 2px; }
.tile .trade:nth-child(1) { top: 47%; left: 39.5%; }
.tile .trade:nth-child(2) { top: 51%; left: 44.5%; }
.tile .trade:nth-child(3) { top: 55%; left: 49.5%; }
.tile .trade:nth-child(4) { top: 59%; left: 54.5%; }

.recap { position: absolute; top: 120px; }
.recap>.player-recap {
    width: 178px;
    background: #0b0617;
    border: 1px solid #170937;
    margin: 5px;
    padding: 8px 5px;
    border-radius: 5px;
    font-size: 0.8em;
}
.recap>.player-recap .name{ font-size: 1.1em; }


.board-wrapper {
    position: relative;
    width: calc(100% - 200px);
    margin-left: 200px;
}
.board {
    width: 100%;
    height: 0;
    padding-bottom: 48.23%; /* 820/1700 */
    font-size: 0;
    background: #0b0617;
}
/* for a 5*5 of 180*120tiles, we'd need 884px */
.board .tile {
    position: absolute;
    /*width: 20.36%;*/
    /*padding-bottom: 13.57%;*/
    width: 17.64%;
    padding-bottom: 11.76%;
    height: 0;
    background-size: 100%;
    /*opacity: 0.9;*/
}
/*.board .tile:hover { opacity: 1; }*/
.board .tile.x0.y0 { top: 00.00%; left: 41.17%; }

.board .tile.x1.y0 { top: 07.56%; left: 32.94%; }
.board .tile.x0.y1 { top: 07.56%; left: 49.41%; }

.board .tile.x2.y0 { top: 15.12%; left: 24.70%; }
.board .tile.x1.y1 { top: 15.12%; left: 41.17%; }
.board .tile.x0.y2 { top: 15.12%; left: 57.64%; }

.board .tile.x3.y0 { top: 22.68%; left: 16.47%; }
.board .tile.x2.y1 { top: 22.68%; left: 32.94%; }
.board .tile.x1.y2 { top: 22.68%; left: 49.41%; }
.board .tile.x0.y3 { top: 22.68%; left: 65.88%; }

.board .tile.x4.y0 { top: 30.24%; left:  8.23%; }
.board .tile.x3.y1 { top: 30.24%; left: 24.70%; }
.board .tile.x2.y2 { top: 30.24%; left: 41.17%; }
.board .tile.x1.y3 { top: 30.24%; left: 57.64%; }
.board .tile.x0.y4 { top: 30.24%; left: 74.11%; }

.board .tile.x5.y0 { top: 37.80%; left: 00.00%; }
.board .tile.x4.y1 { top: 37.80%; left: 16.47%; }
.board .tile.x3.y2 { top: 37.80%; left: 32.94%; }
.board .tile.x2.y3 { top: 37.80%; left: 49.41%; }
.board .tile.x1.y4 { top: 37.80%; left: 65.88%; }
.board .tile.x0.y5 { top: 37.80%; left: 82.35%; }

.board .tile.x5.y1 { top: 45.36%; left:  8.23%; }
.board .tile.x4.y2 { top: 45.36%; left: 24.70%; }
.board .tile.x3.y3 { top: 45.36%; left: 41.17%; }
.board .tile.x2.y4 { top: 45.36%; left: 57.64%; }
.board .tile.x1.y5 { top: 45.36%; left: 74.11%; }

.board .tile.x5.y2 { top: 52.92%; left: 16.47%; }
.board .tile.x4.y3 { top: 52.92%; left: 32.94%; }
.board .tile.x3.y4 { top: 52.92%; left: 49.41%; }
.board .tile.x2.y5 { top: 52.92%; left: 65.88%; }

.board .tile.x5.y3 { top: 60.48%; left: 24.70%; }
.board .tile.x4.y4 { top: 60.48%; left: 41.17%; }
.board .tile.x3.y5 { top: 60.48%; left: 57.64%; }

.board .tile.x5.y4 { top: 68.04%; left: 32.94%; }
.board .tile.x4.y5 { top: 68.04%; left: 49.41%; }

.board .tile.x5.y5 { top: 75.60%; left: 41.17%; }

.board .tile>.inner {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100%;
}
.board .tile>.inner.option:after {
    content: attr(data-option);
    position: absolute;
    color: white;
    z-index: 1;
    top: 42%;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.board .tile.owner-none { background-image: url('../img/tile-dark.png'); }
.board .tile.owner-blue { background-image: url('../img/tile-blue.png'); }
.board .tile.owner-pink { background-image: url('../img/tile-pink.png'); }
.board .tile.owner-yellow { background-image: url('../img/tile-yellow.png'); }
.board .tile.owner-green { background-image: url('../img/tile-green.png'); }

.board .tile.empty>.inner { background-image: url('../img/tile-empty.png'); }
.board .tile.factory>.inner { background-image: url('../img/tile-factory.png'); }
.board .tile.big-factory>.inner { background-image: url('../img/tile-big-factory.png'); }
.board .tile.laboratory>.inner { background-image: url('../img/tile-laboratory.png'); }
.board .tile.store>.inner { background-image: url('../img/tile-store.png'); }
.board .tile.houses>.inner { background-image: url('../img/tile-houses.png'); }
